@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color:  #10edab;
    --background-color:  #b6f2af;
    --text-color:  #190392;
  }

  .main {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .main-container {
    background-color: var(--primary-color);
  }

  .my-button {
    background-color: var(--background-color);
  }

  .reset-button {
    background-color: var(--background-color);
  }